.ipynb_checkpoints

Datasets/*.json
Datasets/*.tsv
Datasets/*.csv
Datasets/*.zip
Datasets/*.gz

Datasets/graphdb
Datasets/graphlab

Dumps/*.json
Dumps/*.csv

Scripts/amazon_products/node_modules
Scripts/amazon/node_modules