.ipynb_checkpoints

credentials.txt
chromedriver

Datasets/*.json
Datasets/*.tsv
Datasets/*.csv
Datasets/*.zip
Datasets/*.gz
Datasets/glove.6B/*.txt

Dumps/*.json
Dumps/*.csv
Dumps/*.pickle
Dumps/*.pkl

Scripts/amazon_products/node_modules
Scripts/amazon/node_modules