.ipynb_checkpoints

credentials.txt
chromedriver

Datasets/*.json
Datasets/*.tsv
Datasets/*.csv
Datasets/*.zip
Datasets/*.gz

Dumps/*.json
Dumps/*.csv

Scripts/amazon_products/node_modules
Scripts/amazon/node_modules